@model PropertyRental.Models.Appointment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Timestamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Timestamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address.StreetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.StreetName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PropertyManager.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PropertyManager.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PotentialTenant.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PotentialTenant.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AppointmentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
