@model PropertyRental.Models.Appointment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            Date
        </dt>

        <dd>
            @{
                string date = Model.Timestamp.Value.ToShortDateString();
            }
            @Html.DisplayFor(model => date)
        </dd>

        <dt>
            Time
        </dt>

        <dd>
            @{
                string time = Model.Timestamp.Value.ToShortTimeString();
            }
            @Html.DisplayFor(model => time)
        </dd>

        <dt>
            Address
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.StreetName)
            @Html.DisplayFor(model => model.Address.StreetNumber),
            @Html.DisplayFor(model => model.Address.City)
        </dd>

        <dt>
            Property Manager
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PropertyManager.FirstName)
            @Html.DisplayFor(model => model.PropertyManager.LastName)
        </dd>

        <dt>
            Potential Tenant 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PotentialTenant.FirstName)
            @Html.DisplayFor(model => model.PotentialTenant.LastName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Reschedule", "Edit", new { id = Model.AppointmentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
