@model IEnumerable<PropertyRental.Models.Appointment>

@{
    ViewBag.Title = "Index";
}

<h2>Appointments</h2>

@if (!User.IsInRole("Potential Tenant"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

@if (Model.Count() == 0)
{
    <p>You don't have any appointments.</p>
}
else
{
    <table class="table">
        <tr>
            <th>
                Date
            </th>
            <th>
                Time
            </th>
            <th>
                Address
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PropertyManager.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PotentialTenant.FirstName)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            @{
                string date = item.Timestamp.Value.ToShortDateString();
                string time = item.Timestamp.Value.ToShortTimeString();
            }
            <td>
                @Html.DisplayFor(modelItem => date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address.StreetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyManager.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PotentialTenant.FirstName)
            </td>
            <td>
                @Html.ActionLink("Reschedule", "Edit", new { id = item.AppointmentID }) |
                @Html.ActionLink("See details", "Details", new { id = item.AppointmentID }) |
                @Html.ActionLink("Cancel", "Delete", new { id = item.AppointmentID })
            </td>
        </tr>
    }

    </table>
}