@model PropertyRental.Models.Apartment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    @if (!User.IsInRole("Potential Tenant"))
    {
        <p>
            @Html.ActionLink("Edit", "Edit", new { apartmentID = Model.ApartmentID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    }
    else
    {
        <p>
            @Html.ActionLink("Schedule Appointment", "Create", "Appointments", new { apartmentID = Model.ApartmentID }, new { user = User.Identity.Name }) |
            @Html.ActionLink("Message Manager", "Create", "Messages", new { apartmentID = Model.ApartmentID }, new { user = User.Identity.Name }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    }
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Number of Rooms
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfRooms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amenities)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amenities)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Floor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Floor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConstructionYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConstructionYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area)
        </dd>

        <dt>
            Address
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.StreetName)
            @Html.DisplayFor(model => model.Address.StreetNumber)
            @Html.DisplayFor(model => model.Address.City)
            @Html.DisplayFor(model => model.Address.Province)
        </dd>
        <dt>
            Building
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Building.BuildingName)
        </dd>

        <dt>
            Building Amenities
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Building.Amenities)
        </dd>

        <dt>
            Property Manager
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
            @Html.DisplayFor(model => model.User.LastName)
        </dd>
        @if (!User.IsInRole("Potential Tenant"))
        {
            <dt>
                @Html.DisplayNameFor(model => model.Status.StatusName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Status.StatusName)
            </dd>
        }

        <dt>
            Images
        </dt>
        <dd>
            @foreach (var item in Model.ApartmentImages)
            {
                <img src="@Url.Content(item.ImageURL)" alt="Image" />
            }
        </dd>
    </dl>
</div>

