@model PropertyRental.Models.Building

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Building</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Number Of Floors
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfFloors)
        </dd>

        <dt>
            Construction Year
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConstructionYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amenities)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amenities)
        </dd>

        <dt>
            Building Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuildingName)
        </dd>

        <dt>
            Address
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.StreetName)
            @Html.DisplayFor(model => model.Address.StreetNumber)
            @Html.DisplayFor(model => model.Address.City)
            @Html.DisplayFor(model => model.Address.Province)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BuildingID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
