@model IEnumerable<PropertyRental.Models.Building>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Number Of Floors
        </th>
        <th>
           Construction Year
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amenities)
        </th>
        <th>
            Building Name
        </th>
        <th>
           Address
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfFloors)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConstructionYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amenities)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuildingName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address.StreetName)
            @Html.DisplayFor(modelItem => item.Address.StreetNumber)
            @Html.DisplayFor(modelItem => item.Address.City)
            @Html.DisplayFor(modelItem => item.Address.Province)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BuildingID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BuildingID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BuildingID })
        </td>
    </tr>
}

</table>
