@model IEnumerable<PropertyRental.Models.Message>

@{
    ViewBag.Title = "Index";
}

<h2>Messages</h2>

@if (!User.IsInRole("Potential Tenant"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

@Html.ActionLink("Received Messages", "Received")
@Html.ActionLink("Sent Messages", "Sent")


@if (Model.Count() == 0)
{
    <p>You don't have any messages.</p>
}
else
{
    <table class="table">
        <tr>
            <th>
                From
            </th>
            <th>
                To
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                Date
            </th>

            @if (ViewBag.IsReceived == true)
            {
                <th>
                    @Html.DisplayNameFor(model => model.MessageStatus.Status)
                </th>
            }
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Sender.FirstName)
                    @Html.DisplayFor(modelItem => item.Sender.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Receiver.FirstName)
                    @Html.DisplayFor(modelItem => item.Receiver.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Timestamp)
                </td>

                @if (ViewBag.IsReceived == true)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.MessageStatus.Status)
                    </td>
                }
            <td>
                @if (ViewBag.IsReceived == true)
                {
                    @Html.ActionLink("Open Message", "Details", new { id = item.MessageID, isReceived = true })
                }
                else
                {
                    @Html.ActionLink("Open Message", "Details", new { id = item.MessageID, isReceived = false })
                }
                
                @if (User.IsInRole("Admin"))
                {
                    <span>
                        |
                        @Html.ActionLink("Edit", "Edit", new { id = item.MessageID }) |

                        @Html.ActionLink("Delete", "Delete", new { id = item.MessageID })
                    </span>
                }
            </td>
            </tr>
        }

    </table>
}